/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid-top{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);   
}


.mid-bottom{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.africa{
    position: absolute;
    /*padding-left: 100px;
    padding-top: 50px;*/
    top:45%;
    left:52%;
    transform: translate(-50%, -50%);

}
.europe{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.southA{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);

}
.northA{
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.asia{
    position: absolute;
    top: 29%;
    left: 59%;
    transform: translate(-50%, -50%);
}
.india{
    position: absolute;
    top: 45%;
    left: 61%;
    transform: translate(-50%, -50%);
}
.aus{
    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
}
.antartica{position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Stage2{
    display: none;
}   
#Stage3{
    display: none;
}   
#Stage4{
    display: none;
}   